/*@import url ("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"); */
/* section */
body {
  box-sizing: border-box;
  margin: 0px 0px; /*around whole of document*/
  font-family: hero-new, sans-serif;
  max-width: 100%;
}

/* NAV BAR/HEADER */

/* main,
section,
footer {
  margin: 0px 10px 0px 10px;
  max-width: 100%;
} */

header,
section,
footer {
  animation: transitionIn 25s;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #0f0e0e;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  word-spacing: 30px;
}

#navbar {
  list-style: none;
}

#navbar li {
  display: inline-block;
  padding: 40px 20px;
}

#navbar li a {
  transition: all 0.3s ease 0s;
}

#navbar li a:hover {
  color: #ffcf00;
}

/*PAGE INTRO SECTION */

#intro-layout {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hello {
  color: #0f0e0e;
  font-size: 35px;
  text-align: left;
  position: relative;
  animation: adjustIntroLayout 15s;
  max-width: 100%;
}

@keyframes adjustIntroLayout {
  from {
    text-align: center;
  }
  to {
    text-align: left;
  }
}

#iam {
  color: #0f0e0e;
  font-size: 45px;
  position: relative;
}
#creative2 {
  font-family: NSimSun;
  color: #0f0e0e; /*Liking Pop colour theme*/
  font-size: 85px;

  position: relative;
  font-family: "Varela Round", sans-serif;
}

/**Page intro transition on name*/
#natsim {
  animation: transitionIn 20s;
  color: #ffcf00;
}

#scroll {
  padding-bottom: 30px;
  margin-bottom: 20px;
}

i {
  color: #cbff4d;
}

h1 {
  font-family: "Varela Round", sans-serif;
  margin: 20px 0 0 0;

  color: #0f0e0e;
}

#scroll {
  font-family: sans-serif;
  color: #0f0e0e;
  font-size: 25px;
  padding-top: 30px;
}

/*Page Intro-Transition*/

.intro-container {
  animation: transitionIn 2.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/*ABOUT ME SECTION*/

#about {
  display: flex;
}

.about {
  font-family: sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
}

h2,
h3 {
  font-family: sans-serif;
  color: black;
  font-size: 30px;
  text-align: left;
}

p {
  font-family: sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
}
/*ABOUT SECTION*/
.about {
  display: flex;
  align-items: center;
  padding: inherit;
}

@media only screen and (max-width: 802px) {
  .about {
    flex-wrap: wrap;
  }
}

.about-text {
  padding-left: 10px;

  padding: 0px 0px 0px 100px;
}

@media only screen and (max-width: 802px) {
  .about-text {
    padding: 0px 0px 0px 0px;
  }
}

.aboutme-image {
  border-radius: 10px;
}

/*Technologies I USE*/

.languages {
  font-family: consolas;
  color: black;
  font-size: 25px;
  text-align: center;
}
.languages ul li {
  list-style: none;
  padding: inherit;
}
.language-list {
  padding: 0px 0px 0px 0px;
}

.tech-logo-sizing-control {
  height: 200px;
  width: auto;
  max-width: 100%;
}

/*CONTACT ME*/
.contact {
  color: black;
}

input[type="text"],
[type="email"],
textarea {
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that things stay in place */
  margin: 6px 0px 16px 0px; /* Top right bottom left margin */
  padding: 5px; /* Some surrounding space */
  resize: vertical; /* Allow users to vertically resize the textarea */
  width: 100%; /* Full width */
}

#message {
  height: 250px;
}

/*SUBMIT BUTTON/FOOTER*/
input[type="submit"]:hover {
  background-color: rgba(245, 241, 8, 0.856);
  margin-bottom: 50px;
}

footer {
  position: relative;
  width: auto;
}

#icons_container {
  content: "";
  display: flex;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  list-style: none;
}

.icon-icons {
  padding: 5px;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Image carousel text*/
.text2 {
  color: black;
}

.copyright {
  text-align: center;
  font-family: system-ui;
}
