@import url ("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"



/*Nav Bar */
.navbar a  {
display: inline-flex; 
flex-direction: row;
text-decoration: none;
font-family: sans-serif;
/*align-self: stretch; */
font-family:sans-serif;
color:rgb(88, 235, 144);
font-size: 20px;
outline-style: double;

}  


/*Intro Name Section */
#hello  {
font-family:sans-serif;
color: aliceblue;
font-size: 35px; 
text-align: center;
} 

#iam {
  font-family:sans-serif;
  color: aliceblue;
  font-size: 45px; 
  text-align: center;
  } 

#natbig {
  font-family:NSimSun;
  color: rgb(248, 241, 139);
  font-size: 55px; 
  text-align: center;
  }

  #creative {
    font-family:NSimSun;
    color: aquamarine; 
    text-align: center;
  }

  #Scroll {
    font-family:sans-serif;
    color:black;
    font-size: 25px; 
    text-align: center;
  }

 /*About Me Section*/
.about {
  font-family:sans-serif;
  color: aliceblue;
  font-size: 25px; 
  text-align: center;
}

 #blackcodhercourse {
    font-family: sans-serif;
    color: crimson; 
    text-align: center;
  }


h1 { 
  font-family: sans-serif;
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  } 
  

h2, h3 { 
font-family: sans-serif;
color: aliceblue;
font-size: 25px;
}

p{
font-family: sans-serif;
color: aliceblue;
font-size: 25px;
text-align: center;

}

.programmes {
  font-family:consolas;
  color:aliceblue;
  font-size: 25px;
  text-align: center;
}

/*Customer Testimonials
section h2 ul li a {
  descendant combinator example
}
   */
#customer { 
  font-family: sans-serif;
  color: rgb(158, 219, 98);
  font-size: 30px;
  text-align: center;
    }
    
        
/*Contact form */

.contact {
  color:aliceblue;
}
input[type=text], textarea {
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that things stay in place */
  margin: 6px 0px 16px 0px; /* Top right bottom left margin */
  padding: 12px; /* Some surrounding space */
  resize: vertical; /* Allow users to vertically resize the textarea */
  width: 100%; /* Full width */
}

/*Submit button*/
input[type=submit]:hover {
  background-color: rgb(0, 245, 41);
 } 
 
 #Externalsites {
   color: rgb(74, 240, 96);
   font-style: oblique;
   border: 1.5pt solid;
   border-radius: 100px;
   text-decoration: none; 
 }