/*@import url ("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"); */
               /* section */
body {          
background-image: url(../BlackCodher/Unit1&2/BlackCodHer/HTML\ Images/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
background-size: contain; 
background-repeat: no-repeat;

     
                /*Nav Bar */

box-sizing: border-box;
margin: 0;
padding: 15px 20px;
}
              
li,a,button {
font-family: sans-serif;
font-weight: 500;
font-size: 23px;
color: antiquewhite;
 }
            
header {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 10% ;
              }
.navbar {
 list-style: none;
}
.navbar li {
 display: inline-block;
 padding: 50px 20px;
}

.navbar li a {
 transition: all 0.3s ease 0s;
}

.navbar li a:hover {
 color: yellowgreen;
}

*{
  color:black;
  font-family: sans-serif;
  
}
            /*Intro Name Section */
.intro-layout {
/*max-width: 1300px;
background-color:wheat;  
margin: 40px auto 0 auto;
line-height: 1.65;
padding: 50px 50px; */
display: flex;
align-items: center;
}            
.hello  {   
font-family:sans-serif;
color: aliceblue;
font-size: 35px;

} 
.hello:hover {
color: yellowgreen;
}
.hello:hover {
transition: all 0.3s ease 0s;
}

.iam {
font-family:sans-serif;
color: rgb(194, 151, 235);
font-size: 45px; 

 }
 .iam:hover {
 color: yellowgreen;
 }  
 .iam:hover {
  transition: all 0.3s ease 0s;
  }
  


.NatSim {
 font-family:NSimSun;
 color: rgb(248, 241, 139);
 font-size: 55px; 
 
  }
.NatSim:hover {
  color: yellowgreen;
  }  
.NatSim:hover {
  transition: all 0.3 ease 0s;  
  }  

.creative {
  font-family:NSimSun;
  color: aquamarine; 
  text-align: center;
}
/*.creative {
    color: yellowgreen; */
    }  */
.creative:hover {
    transition: all 0.3 ease 0s;  
    }  

  em {
    color: blueviolet;
  }

  #Scroll {
    font-family:sans-serif;
    color:antiquewhite;
    font-size: 25px; 
    text-align: center;
   
  }

            /*About Me Section*/
.about {
  font-family:sans-serif;
  color: black;
  font-size: 25px; 
  text-align: center;
}

 .blackcodhercourse {
    font-family: sans-serif;
    color: crimson; 
    text-align: center;
  }


h1 { 
  font-family: sans-serif;
  font-size: 30px; 
  text-align: center;
  } 
  

h2, h3 { 
font-family: sans-serif;
color: black;
font-size: 25px;
}

p{
font-family: sans-serif;
color:black;
font-size: 25px;
text-align: center;

}

.programmes {
  font-family:consolas;
  color: black;
  font-size: 25px;
  text-align: center;
}
.programmes,ul,li{
  list-style: none;
}

        /*Customer Testimonials */
.customer, ul,li { 
  font-family: sans-serif;
  color:black;
  font-size: 20px;
  text-align: center;
    }
    
        
        /*Contact form */
.contact {
  color: black;
}
input[type=text], textarea {
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that things stay in place */
  margin: 6px 0px 16px 0px; /* Top right bottom left margin */
  padding: 12px; /* Some surrounding space */
  resize: vertical; /* Allow users to vertically resize the textarea */
  width: 100%; /* Full width */
}

        /*Submit button*/
input[type=submit]:hover {
  background-color: rgb(0, 245, 41);
 } 
 
 #Externalsites {
   color: rgb(74, 240, 96);
   font-style: oblique;
   border: 1.5pt solid;
   border-radius: 100px;
   text-decoration: none; 
 }

