<head>
<style>
  body {
      background-color: white;
      margin-left: 10px;
  }

  h1 {color: rgb(214, 122, 127);};}
  h2 {font-family: Calibri;}

</style>
</head>
<body>
  <h1 style="color:black;">This is a heading with inline styling to set it as black</h1> 
  <h2> font-family: Calibri; }

  </style>
  </head>
  <body>
  <h1>This is the biggest heading. </h1>
  <h2>This is next largest heading</h2>
  </body>
